<div class="col-md-4">
    <div class="card-content">
        <div class="card-img">
            <img src="https://www.latamairlines.com/content/dam/latamxp/seo/MAD.jpg" alt="">
            <span><h4>heading</h4></span>
        </div>
        <div class="card-desc">
            <h3>Heading</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias natus consequuntur, vel reprehenderit sapiente
                 </p>
                 <a href="#" class="btn-card">Read</a>
        </div>
    </div>
</div>
